.text{
    font-size:0.9cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.line{
    width: 20%;
    
}
.alltext{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.6cm;
}